*{
    box-sizing:border-box;
    max-width:100%;
    padding:0%;
    margin:0 auto;
  }
  
  a:visited{
    color:white;
  }
  
  a:link{
    text-decoration:none;
  }
  
  nav a{
    display:inline-block;
    color:white;
    width:33%;
    font-size:1rem;
    margin:0;
    text-align:center;
    padding:1% 0;
    border-radius:20px;
  }
  
  .plan{
    background-color:#FF764E;
  }
  
  .learn{
    background-color:#5ED3EB;
  }
  
  .involved{
    background-color:#FFCD69;
  }